[submodule "metacommon"]
	path = metacommon
	url = https://github.com/makiolo/metacommon.git
[submodule "thread-pool-cpp"]
	path = thread-pool-cpp
	url = https://github.com/inkooboo/thread-pool-cpp.git
[submodule "cmaki"]
	path = cmaki
	url = https://github.com/makiolo/cmaki.git
[submodule "stackless_coroutine"]
	path = stackless_coroutine
	url = https://github.com/jbandela/stackless_coroutine.git
