[submodule "metacommon"]
	path = metacommon
	url = https://github.com/makiolo/metacommon.git
[submodule "cmaki"]
	path = cmaki
	url = https://github.com/makiolo/cmaki.git
[submodule "verypoco"]
	path = verypoco
	url = https://github.com/makiolo/verypoco.git
[submodule "thread-pool-cpp"]
	path = thread-pool-cpp
	url = https://github.com/inkooboo/thread-pool-cpp.git
